---
import Button from "../components/Button.astro";

---

<div class="w-full bg-center bg-cover h-[32rem]" style="background-image: url(/images/hero.jpeg)">
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
      <div class="text-center">
        <h1 class="text-5xl font-semibold text-gray-400 uppercase">Business Growth Starts Here</h1>
        <h2 class="text-2xl font-semibold text-white uppercase">Digital Marketing & Web Design</h2>
        <Button label="Let's Talk Digital" />
      </div>
  </div>
</div>
